  <h1 align="center"> A Work-In-Progress IdeaBox</h1>

  <h3 align="center">Existing Ideas</h3>
  <%= erb :idea_form %>

<div class="list">
  <ul>
    <% ideas.each do |idea| %>
      <li>
        <%= idea.title %><br/>
        <%= idea.description %>
        <%= erb :idea_actions, locals: {idea: idea} %>
      </li>
    <% end %>
  </ul>
</div>
