<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>A Mobile IdeaBox</title>
    <link href="idea_box.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
