<html>
  <head>
    <title>A Mobile IdeaBox</title>
    <style type="text/css">
      body {
        background-color: rgb(140,202,242);
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
